path {
	stroke-width: 2px;
	fill: none;
}
.axis text {
	font-family: Arial;
	font-size: 11px;
}
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}